<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <a class="navbar-brand">Pokemon</a>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Acerca de...</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokemon">Pokémon</a> <!-- Nueva ruta para Pokémon -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/libro">Libros</a> 
      </ul>
    </div>
  </nav>