<div class="home-container">
  <div class="header">
    <h1>¡Bienvenido al Mundo Pokémon!</h1>
    <p>
      Este proyecto está diseñado para explorar el fascinante mundo de los Pokémon. A través de esta aplicación, podrás descubrir información detallada sobre tus criaturas favoritas, sus tipos, habilidades y mucho más. Utilizamos la API de Pokémon para obtener datos en tiempo real y ofrecerte una experiencia interactiva y divertida.
    </p>
  </div>

  <div class="project-links">
    <h2>Explora las secciones del proyecto:</h2>
    <div class="links-grid">
      <a routerLink="/home" class="link-card">
        <h3>Inicio</h3>
        <p>Regresa a la página principal para obtener una visión general del proyecto.</p>
      </a>
      <a routerLink="/pokemon" class="link-card">
        <h3>Pokémon</h3>
        <p>Descubre una lista de Pokémon con sus imágenes, tipos y detalles.</p>
      </a>
      <a routerLink="/about" class="link-card">
        <h3>Acerca de</h3>
        <p>Conoce más sobre el propósito de este proyecto y cómo se desarrolló.</p>
      </a>
    </div>
  </div>
</div>